$primary: rgba(253,29,29,1);
$secondryColor: #8e17ca;

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #05ac71);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
  height: 100vh;
  padding-top:150px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes bounce{
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

.text-bolder{
  color: $secondryColor;
  font-weight: bold;
  font-size: 24px;
}

.button {
  width: 208px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  color: white;
  font-weight: bold;
  margin-top: 20px;
  letter-spacing: 1px;
  box-shadow: 0 0 0 rgba(0,0,0,0.3);
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 8px 10px rgba(0,0,0,0.3);
}

.button:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.3);
  transform: scale(0.95);
}

button:disabled {
  opacity: 0.1;
}

@mixin scale-anim($duration: 0.3s, $scale: 1.2) {
  transition: $duration;
  &:hover {
    transform: scale($scale);
  }
}

@mixin pointerCursor {
  cursor: pointer;
}

.count-down {
  @extend .text-bolder;
  @include scale-anim;
  animation: bounce 1s linear  infinite;
  margin-bottom: 20px;
}

.welcome-message {
  @include pointerCursor;
  @include scale-anim;
  @extend .text-bolder;
  color: $secondryColor;
}

.card {
  input{
    @include scale-anim(0.3s, 1.05);
    background-color: rgba(0,0,0,0.05);
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid $primary;
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.app-button {
  @include pointerCursor;
  outline: none;
  height: 35px;
  color: white;
  background-color: $primary;
}